<div class="container">
<div style="display: flex; justify-content: flex-end;">
  <button mat-raised-button color="primary" routerLink="/usuarios/nuevo">
    Nuevo Usuario
  </button>
</div>
<div><h1>Listar Usuarios</h1></div>
<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="c1">
    <th mat-header-cell *matHeaderCellDef> Número ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id_usuario}} </td>
  </ng-container>

   <ng-container matColumnDef="c2">
    <th mat-header-cell *matHeaderCellDef> DNI  </th>
    <td mat-cell *matCellDef="let element"> {{element.dni_usuario}} </td>
  </ng-container>

  <ng-container matColumnDef="c3">
    <th mat-header-cell *matHeaderCellDef> Correo </th>
    <td mat-cell *matCellDef="let element"> {{element.correo_usuario}} </td>
  </ng-container>
   <ng-container matColumnDef="c4">
    <th mat-header-cell *matHeaderCellDef> Sexo </th>
    <td mat-cell *matCellDef="let element"> {{element.sexo_usuario}} </td>
  </ng-container>

  <ng-container matColumnDef="c5">
    <th mat-header-cell *matHeaderCellDef> Teléfono </th>
    <td mat-cell *matCellDef="let element"> {{element.telefono_usuario}} </td>
  </ng-container>
   <ng-container matColumnDef="c6">
    <th mat-header-cell *matHeaderCellDef> Dirección </th>
    <td mat-cell *matCellDef="let element"> {{element.direccion_usuario}} </td>
  </ng-container>

  <ng-container matColumnDef="c7">
    <th mat-header-cell *matHeaderCellDef> URL img usuario </th>
    <td mat-cell *matCellDef="let element"> {{element.img_url_usuario}} </td>
  </ng-container>

   <ng-container matColumnDef="c8">
    <th mat-header-cell *matHeaderCellDef> Fecha Registro </th>
    <td mat-cell *matCellDef="let element"> {{element.fechaRegistro_usuario}} </td>
  </ng-container>

  <ng-container matColumnDef="c9">
    <th mat-header-cell *matHeaderCellDef> Rol Asociado </th>
    <td mat-cell *matCellDef="let element"> {{element.id_rol.tipo_rol}} </td>
  </ng-container>

  <ng-container matColumnDef="c10">
    <th mat-header-cell *matHeaderCellDef> Actualizar </th>
    <td mat-cell *matCellDef="let element"> 
       <button matButton [routerLink]="['ediciones',element.id_usuario]">
        Actualizar <mat-icon>edit</mat-icon>
       </button>  
    
    </td>
  </ng-container>
  
    <ng-container matColumnDef="c11">
    <th mat-header-cell *matHeaderCellDef> Eliminar </th>
    <td mat-cell *matCellDef="let element"> 
       <button matButton (click)="eliminar(element.id_usuario)">
        Eliminar<mat-icon>delete</mat-icon>
       </button>  
    
    </td>
  </ng-container>

  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

 <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of anuncios">
 </mat-paginator>

</div>
</div>

